.contakt {
  background-image: url("../../img/contact.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 30px 0;
}

.contact-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  padding: 60px 50px;
  background: rgba(52, 52, 231, 0.743);
  color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0.5px);
  border: 2px solid white;
}

.contact-container h2 {
  font-size: 35px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.contact-container p {
    text-align: left;
  font-size: 20px;
  margin: 10px 0;
}

.contackt__cards{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 400px;
}

.contact-info {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: column;
  width: 400px;

}

.contact__link {
  color: white;
  text-decoration: none;
  font-size: 18;
  margin: 10px 0;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #2575fc;
  transition: background-color 0.3s;
  border: 2px solid #2575fc;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease-in;
  width:300px;
}


.contact__link:hover {
  background-color: #2575fc;
  border: 2px solid white;
  transform: scale(1.1) rotate(2deg);
}
