footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: auto;
    position: fixed;
    bottom: 0;
    z-index: 9999;
  }

.footer__title{
    font-family: "Roboto";
    color: #fff;
    font-size: 1.3rem;
}